$white: #ffffff;
$black: #111111;

$blue100: #96b6e1;
$blue200: #0081ea;
$blue300: #0c499a;
$blue400: #293849;
$blue500: #1e2c39;
$blue600: #0d151d;

$red100: #f17777;
$red200: #f33030;
$red300: #c11919;
$red400: #a81111;
$red500: #5e0e0e;
$red600: #4e1717;

$brown100: #885442;
$brown200: #753b24;
$brown300: #5e2b15;
$brown400: #4e2212;
$brown500: #401f11;
$brown600: #321808;

$cyan100: #7dedfd;
$cyan200: #27e0f1;
$cyan300: #32b2bf;
$cyan400: #1a7f87;
$cyan500: #105055;
$cyan600: #0b2f33;

$pink100: #fd7fd6;
$pink200: #ff27c2;
$pink300: #ab2288;
$pink400: #8e1570;
$pink500: #5e164c;
$pink600: #401134;

$orange100: #ff9c5e;
$orange200: #f66108;
$orange300: #ca5409;
$orange400: #883d0a;
$orange500: #6e370c;
$orange600: #4e2f1c;

$yellow100: #ffec7e;
$yellow200: #ffda17;
$yellow300: #e3be00;
$yellow400: #a68d0d;
$yellow500: #574b0e;
$yellow600: #372f0d;

$green100: #4ed688;
$green200: #0dc64f;
$green300: #208445;
$green400: #18532c;
$green500: #113922;
$green600: #0f2b1b;

$gray100: #dee3f1;
$gray200: #d0d3e4;
$gray300: #9ca2b4;
$gray400: #5b5e6a;
$gray500: #43444a;
$gray600: #2d2e2e;