@import "colors.scss";

$primary-foreground-color: $white;
$primary-background-color: $blue600;
$button-background-color: $blue400;
$button-hover-background-color: $blue500;
$curtain-background-color: #0d151daa;