@import "colors.scss";

$primary-foreground-color: $white;
$primary-background-color: $blue600;
$button-background-color: $blue400;
$button-hover-background-color: $blue500;
$curtain-background-color: #0d151daa;

* {
  font-family: "Segoe UI", sans-serif;
  color: $primary-foreground-color;
}

a, button {
  cursor: pointer;
  
  &:hover {
    sound-in: 'ui.button.over';
  }

  &:active {
    sound-in: 'ui.button.press';
  }
}

button {
  background-color: $button-background-color;
  transition: color 200ms;
  font-size: 55px;
  
  &:hover {
    background-color: $button-hover-background-color;
  }
}