@import "colors.scss";
@import "constants.scss";
@import "Components/Modal.razor.scss";

a, p, h1, h2, h3, button {
  font-family: "Segoe UI", sans-serif;
  color: $primary-foreground-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a, button {
  cursor: pointer;
  
  &:hover {
    sound-in: 'ui.button.over';
  }

  &:active {
    sound-in: 'ui.button.press';
  }
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

p, a {
  font-size: 18px;
}


button {
  background-color: $button-background-color;
  transition: color 200ms;
  font-size: 55px;
  border-radius: 8px;
  
  &:hover {
    background-color: $button-hover-background-color;
  }
}

.autogrow {
  display: flex;
  flex-grow: 1;
  min-height: auto;
  min-width: auto;
}

.hide {
  display: none;
}

.menu {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: radial-gradient(rgba(10, 26, 40, 1) 0%,rgba(5, 20, 38, 1) 100%);
  padding-top: 12vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-weight: bold;
  pointer-events: all;
}

.icon {
  font-size: 8em;
  font-family: "Material Icons";
  background: #00000000;
  transition: background-color 200ms;
}

.hub-buttons {
  display: flex;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 40px;
  justify-content: space-between;
  width: 100vw;

  .back:active {
    sound-in: 'ui.navigate.back';
  }

  .refetch:active {
    sound-in: 'ui.upvote';
  }
}