LobbyHubUI
{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-color: #071627;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
	pointer-events: all;

	.title
	{
		font-size: 75px;
		font-family: Poppins;
		color: #fff;
		margin-bottom: 15px;
	}

	button {
		color: #888888;
		font-size: 55px;
		font-weight: bolder;
		cursor: pointer;
	}

	button:hover {
		color: #2b303c;
	}

	&.hide {
		opacity: 0;
	}

	.lobbies {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 75vw;
		flex-wrap: wrap;
	}
	
	.lobby-card {
		display: flex;
		flex-direction: row;
		background-color: #050A14AA ;
		color: #fff;
		border-radius: 5px;
		font-size: 20px;
		padding: 15px;
		
		.card-content {
			width: 300px;
			background-color: #54be35;
			margin-left: 15px;
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		
		.avatar {
			padding: 5px;
			height: 106px;
			width: 106px;
		}
		
		&:hover {
			background: #a1b7e1;
			cursor: pointer;
		}

	}
	
	.hub-buttons {
		display: flex;
		bottom: 0;
		position: absolute;
		padding: 0 40px;
		justify-content: space-between;
		width: 100vw;
	}
}