@using System.Diagnostics
@using Sandbox;
@using Sandbox.Events
@using Sandbox.Events.GameStateEvents
@using Sandbox.UI;
@inherits PanelComponent 


<root class="@(Visible ? "" : "hide")">
	<div class="title">@MyStringValue</div>
	
	<button onclick="@PressHost">Host</button>
	<button onclick="@PressJoin">Join</button>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	[Property] public bool Visible { get; set; }
	[Property] UiManager UiManager { get; set; }

	
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return System.HashCode.Combine(Visible);
	}


	void PressHost()
	{
		UiManager.ChangeState(GameState.LOBBY_CREATION);
	}
	
	void PressJoin()
	{
		UiManager.ChangeState(GameState.LOBBY_SELECTION);
	}

}
