@inherits Sandbox.UI.NavHostPanel
@namespace Monopoly.UI.Screens.GameLoop

<root class="menu">
    <h1>@CurrentUrl</h1>
    <div class="navigator-canvas" slot="navigator-canvas"/>
</root>

@code
{

    public GameLoopRouter()
    {
        DefaultUrl = "/";
        AddDestination("/", typeof(LobbyUI));
        AddDestination("/ingame", typeof(IngameUI));
        AddDestination("/end", typeof(GameEndUI));
    }
}