@namespace Monopoly.UI.Screens.GameLoop
@inherits Sandbox.UI.Panel
@using System
@using Sandbox.Network
@implements Sandbox.UI.INavigatorPage


<root class="menu">
	<h1> MY_POOL_NO </h1>

	<div class="overview">
		<h3>@Lobby.Players.Count()/@Lobby.MaxPlayers</h3>
		<div class="player-container">
			@foreach (var player in Lobby.Players)
			{
				<div class="player">
					<img src=@($"avatar:{player.SteamId}")/>
					<h3>@player.Name</h3>
				</div>
			}
		</div>
	</div>

	@if (Networking.IsHost)
	{
		<button onclick=@Start>Start</button>
	}

	<div class="hub-buttons">
		<button class="back icon" onclick="@PressBack">
			keyboard_return
		</button>
	</div>

	<div></div>
</root>

@code
{
	public Lobby Lobby { get; set; }
	
	public void OnNavigationOpen() {
		if (Lobby == null) {
			Lobby = Game.ActiveScene.GetAllComponents<Lobby>().First();
		}

		Lobby.LobbyPanel = this;
	}

	/// <summary>
	///     the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return HashCode.Combine(Lobby);
	}

	void PressBack()
	{
		GameNetworkSystem.Disconnect();
		Game.ActiveScene.LoadFromFile("scenes/game_menu.scene");
	}

	public void Start() {
		Lobby.StartGame();
	}
}
