@using System
@using Sandbox.Razor
@inherits Sandbox.UI.Panel
@namespace Monopoly.UI.Screens.GameLoop

<root>
	<div class="curtain">
		@if (Content != null) {
			<div class="modal">
				<ModalHeadline OnClose="@OnClose" Name="@Name"/>
				@Content
			</div>
		}

		@if (CustomModalBody != null) {
			@CustomModalBody
		}
	</div>
</root>

@code {

	[Property]
	public RenderFragment Content { get; set; }
	
	[Property]
    public RenderFragment CustomModalBody { get; set; }

	[Property]
	public Action OnClose { get; set; }

	[Property]
	public string Name { get; set; }

	protected override int BuildHash() {
		if (Content != null) {
			return Content.GetHashCode();
		}
		
		return CustomModalBody?.GetHashCode() ?? base.BuildHash();
	}

}
