@using System
@inherits Sandbox.UI.Panel
@namespace Monopoly.UI.Screens.GameLoop


<root>
<div>
	<img src=@($"avatar:{SteamId}") alt="profile-picture"/>
	<div style="display: flex; flex-direction: column; gap: 4px">
		<p style="font-weight: bolder"> @Player.Name </p>
		<p style="font-weight: lighter"> @Player.Money$ </p>
	</div>
</div>
<div style="display: flex; flex-direction: row; width: 100%; margin-top: 20px; gap: 5px">
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="brown1"
			ColorClass="brown"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="brown2"
			ColorClass="brown"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="lightBlue1"
			ColorClass="lightBlue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="lightBlue2"
			ColorClass="lightBlue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="lightBlue3"
			ColorClass="lightBlue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="pink1"
			ColorClass="pink"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="pink2"
			ColorClass="pink"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="pink3"
			ColorClass="pink"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="orange1"
			ColorClass="orange"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="orange2"
			ColorClass="orange"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="orange3"
			ColorClass="orange"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="red1"
			ColorClass="red"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="red2"
			ColorClass="red"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="red3"
			ColorClass="red"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="yellow1"
			ColorClass="yellow"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="yellow2"
			ColorClass="yellow"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="yellow3"
			ColorClass="yellow"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="green1"
			ColorClass="green"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="green2"
			ColorClass="green"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="green3"
			ColorClass="green"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			FieldName="blue1"
			ColorClass="blue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="blue2"
			ColorClass="blue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
</div>
<div>
	<div style="display: flex; flex-direction: row; gap: 5px">
		<OwnershipDot
			FieldName="railroad1"
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="railroad2"
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="railroad3"
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="railroad4"
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="electricCompany"
			ColorClass="gray"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="waterCompany"
			ColorClass="gray"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="chanceJailFree"
			ColorClass="policeBlue"
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
		<OwnershipDot
			FieldName="communityJailFree"
			ColorClass="policeBlue"
			GetOwned=@GetOwned
			DataHash=@_hash>
		</OwnershipDot>
	</div>
</div>
</root>

@code {

	[Property]
	public Player Player { get; set; }

	public ulong SteamId => Player.SteamId;

	[Property]
	public NetDictionary<string, ulong> Owned { get; set; }

	private int _hash;

	private bool GetMortagedStatus(string propertyName) {
		var property = Game.ActiveScene.GetAllObjects(true).First(o => o.Name == propertyName).Components.Get<GameLocation>();
		return property.Mortgaged;
	}

	private bool GetMortgaged(string field) {
		return GetMortagedStatus(field);
	}

	private bool GetOwned(string field) {
		return Owned[field] == Player.SteamId;
	}

	/// <summary>
	///     the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() {
		_hash = HashCode.Combine(Player.Money, Owned);
		return _hash;
	}

}
