@using System
@inherits Sandbox.UI.Panel
@namespace Monopoly.UI.Screens.GameLoop

@* There are dragons in here *@
@* magical regex to match all parent ids in match group 1: id="(?!.*-disabled)([^"]*)" *@

<root>
<div style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly">
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="brown1"
			GetSelected=@GetSelected
			ColorClass="brown"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="brown2"
			GetSelected=@GetSelected
			ColorClass="brown"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="lightBlue1"
			GetSelected=@GetSelected
			ColorClass="lightBlue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="lightBlue2"
			GetSelected=@GetSelected
			ColorClass="lightBlue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="lightBlue3"
			GetSelected=@GetSelected
			ColorClass="lightBlue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="pink1"
			GetSelected=@GetSelected
			ColorClass="pink"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="pink2"
			GetSelected=@GetSelected
			ColorClass="pink"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="pink3"
			GetSelected=@GetSelected
			ColorClass="pink"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="orange1"
			GetSelected=@GetSelected
			ColorClass="orange"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="orange2"
			GetSelected=@GetSelected
			ColorClass="orange"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="orange3"
			GetSelected=@GetSelected
			ColorClass="orange"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="red1"
			GetSelected=@GetSelected
			ColorClass="red"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="red2"
			GetSelected=@GetSelected
			ColorClass="red"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="red3"
			GetSelected=@GetSelected
			ColorClass="red"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="yellow1"
			GetSelected=@GetSelected
			ColorClass="yellow"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="yellow2"
			GetSelected=@GetSelected
			ColorClass="yellow"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="yellow3"
			GetSelected=@GetSelected
			ColorClass="yellow"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="green1"
			GetSelected=@GetSelected
			ColorClass="green"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="green2"
			GetSelected=@GetSelected
			ColorClass="green"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="green3"
			GetSelected=@GetSelected
			ColorClass="green"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
	<div class="ownership-dot-column">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="blue1"
			GetSelected=@GetSelected
			ColorClass="blue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="blue2"
			GetSelected=@GetSelected
			ColorClass="blue"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
</div>
<div>
	<div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%">
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="railroad1"
			GetSelected=@GetSelected
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="railroad2"
			GetSelected=@GetSelected
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="railroad3"
			GetSelected=@GetSelected
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="railroad4"
			GetSelected=@GetSelected
			ColorClass="black"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="electricCompany"
			GetSelected=@GetSelected
			ColorClass="gray"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="waterCompany"
			GetSelected=@GetSelected
			ColorClass="gray"
			GetMortgaged=@GetMortgaged
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="chanceJailFree"
			GetSelected=@GetSelected
			ColorClass="policeBlue"
			GetOwned=@GetOwned>
		</OwnershipDot>
		<OwnershipDot
			OnSelect=@OwnershipDotClick
			FieldName="communityJailFree"
			GetSelected=@GetSelected
			ColorClass="policeBlue"
			GetOwned=@GetOwned>
		</OwnershipDot>
	</div>
</div>
</root>

@code {

	[Property]
	public Player Player { get; set; }

	public ulong SteamId => Player.SteamId;

	[Property]
	public NetDictionary<string, ulong> Owned { get; set; }

	[Property]
	public NetDictionary<string, bool> TradeFields { get; set; }

	private IEnumerable<GameObject> _gameLocations = Game.ActiveScene.Children[0].Children;

	private bool GetMortagedStatus(string propertyName) {
		var currentLocation = _gameLocations.First(o => o.Name == propertyName).Components.Get<GameLocation>();
		return currentLocation.Mortgaged;
	}

	/// <summary>
	///     the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() {
		return HashCode.Combine(Player.Money, Owned, TradeFields);
	}

	private void OwnershipDotClick(string field) {
		ToggleField(field);
	}

	private bool GetOwned(string field) {
		return Owned[field] == (ulong)Game.SteamId;
	}

	private bool GetSelected(string field) {
		return TradeFields[field];
	}

	private bool GetMortgaged(string field) {
		return GetMortagedStatus(field);
	}

	private void ToggleField(string fieldName) {
		if (!fieldName.Contains("JailFree")) {
			var currentLocation = _gameLocations.First(o => o.Name == fieldName).Components.Get<GameLocation>();

			if (Owned[fieldName] == SteamId && currentLocation.Houses == 0) {
				TradeFields[fieldName] = !TradeFields[fieldName];
			}
		}
		else {
			if (Owned[fieldName] == SteamId) {
				TradeFields[fieldName] = !TradeFields[fieldName];
			}
		}
	}

}
