@import "../globals.scss";

LobbyHubUI {
	.lobbies {
		margin-bottom: 10vh;
		margin-top: 15vh;
		display: flex;
		gap: 25px 15px;
		flex-direction: row;
		justify-content: space-evenly;
		width: 75vw;
		flex-wrap: wrap;
		overflow-y: scroll;

		.lobby-card {
			display: flex;
			flex-direction: row;
			background-color: #050A14AA;
			border-radius: 12px;
			font-size: 20px;
			align-items: center;
			overflow: hidden;
			
			&:hover {
				background-color: hsla(220, 60%, 2%, 0.67);
			}

			&:active {
				background-color: hsla(220, 60%, 0%, 0.67);
			}

			.card-content {
				width: 300px;
				justify-content: center;
				align-items: center;
				display: flex;
				flex-direction: column;
			}

			.avatar {
				height: 106px;
				width: 106px;
			}
		}
	}
	
	.hub-buttons {
		display: flex;
		bottom: 0;
		left: 0;
		position: absolute;
		padding: 40px;
		justify-content: space-between;
		width: 100vw;
		
		.back:active {
			sound-in: 'ui.navigate.back';
		}
		
		.refetch:active {
			sound-in: 'ui.upvote';
		}
	}
}