@using System.Diagnostics
@using Sandbox;
@using Sandbox.Events
@using Sandbox.Events.GameStateEvents
@using Sandbox.Network
@using Sandbox.UI;
@namespace Sandbox.UI
@inherits PanelComponent



<root class="@(Visible ? "" : "hide") menu">
	<h1> MY_POOL_NO </h1>
	
	<div class="overview">
		<h3>@Lobby.playerNum/@Lobby.maxPlayers</h3>
		<div class="player-container">
			@foreach (var player in Lobby.getCurrentPlayers())
			{
			<div class="player">
				<img src=@($"avatar:{player.SteamId}")/>
				<h3>@player.Name</h3>
			</div>
			}
		</div>
	</div>

	<button onclick=@PressStart>Start</button>

	<div class="hub-buttons">
		<button class="back icon" onclick=@PressBack>
			keyboard_return
		</button>
	</div>
</root>

@code
{
	[Property] public bool Visible { get; set; } = false;
	[Property] UiManager UiManager { get; set; }
	[Property] Lobby Lobby { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return System.HashCode.Combine(Visible, Lobby);
	}
	
	void PressStart()
	{
		UiManager.ChangeState(GameState.INGAME);
	}
	

	void PressBack()
	{
		if (GameNetworkSystem.IsActive || Networking.IsHost)
		{
			GameNetworkSystem.Disconnect();
		}
		UiManager.ChangeState(GameState.MENU);
	}
	
	
}
