@using Sandbox;
@using Sandbox.Network
@using Sandbox.UI;
@namespace Sandbox.UI


@if (lobby.Members <= 0)
{
	<h3>NO LOBBY AVAILABLE!</h3>
	return;
}

<root>
	<button class="lobby-card">
		<img class="avatar" src=@($"avatar:{lobby.OwnerId}") alt="Profile Picture"/>
		<div class="card-content">
			<h3>@lobby.Name</h3>
			<p>@lobby.Members/@lobby.MaxMembers PLAYERS</p>
		</div>
	</button>
</root>



@code {
	[Property] public LobbyInformation lobby;
}
